body{
  padding: 0;
  margin: 0;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subject-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discount-applied {
  border-color: red !important;
  background: #fffdb4;
}
.discount-code {
  border: 2px #535151;
  min-width: 200px;
  display: flex;
  font-weight: 700;
  justify-content: center;
}
.black-code {
  padding: 5px;
  display: inline-block;
}
.copy {
  color: red;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
}
.discount-copied {
  font-size: 16px;
  position: relative;
  padding: 5px;
  color: red;
}